*{
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #202020;
}

/* Container of the whole app */
.mainContainer{
  width: 95%;
  margin: auto;
}

/* Banner (trailer and movie description) */
.viewTrailer {
  min-height: 500px;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: flex-end;
}

.trailerOverlay{
  background: rgb(25 25 25 / 70%);
  height: 100%;
}

.movieDescription{
  backdrop-filter: blur(5px);
}

.noTrailerWarning{
  width: fit-content;
}

.stopButtonnDiv{
  padding: 5px;
}

.stopButton{
  background-color: transparent;
  color: white;
  outline: none;
  border: transparent ;
  padding: 10px 15px;
  cursor: pointer;
  margin:auto;
  font-size: x-large;

  transition: .3s all;
}

.stopButton:hover{
  transform: scale(110%);
}

.boton {
  background-color: #0f1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;

  transition: .3s all;
}

.boton:hover{
  transform: scale(110%);
}

.reproductor {
  width: 100%;
  height: 100%;
  padding: 5px;
}

/* List of movies */
.moviePoster{
  cursor: pointer;
  transition: .5s all;
}

.moviePoster:hover{
  filter: brightness(60%);
  transform: scale(101%);
}

/* Footer */
footer p{
  margin: 0;
}

/* Miscelaneous */
.row{
  margin-right: 0;
}

button[type=submit]{
  border-radius: 50px;
}

/* RESPONSIVE */
@media screen and (max-width:600px){
  .header{
    display: grid;
  }

  .header form{
    display: block!important;
  }
}